// .a{width: 199px}
// .a .b{width: 100px}

@mixin ellipse($width: 100%) {
  width: $width;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

$primaryColor: #000;


.a{width: 199px;}
.a.b{width: 100%;}

.a{
  width: 199px;
  color: $primaryColor;
  background: $primaryColor;
  border: 1px solid $primaryColor;
  @include ellipse();
  .b{
    width: 100px;
  }
}

.a{
  width: 199px;
  &.b{
    width: 100px;
  }
  &:nth-child(1){
    color: $primaryColor;
  }
}

