$black: #040404;
$blue: #455de0;
$pink: #f2afa3;

.section {
  min-height: 100vh;

  &.section-gray {
    background-color: #fafafa;
  }
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;

  .title-box {
    position: relative;
    width: 50%;
    border-right: 1px solid #ddd;
    padding-right: 5%;
    box-sizing: border-box;

    strong {
      display: block;
      font-size: 32px;
      font-weight: 400;
      color: #323232;
      line-height: 50px;

      span {
        display: block;
        color: $blue;
        font-size: 24px;
        line-height: 32px;

        &.point {
          margin-bottom: 10px;
          color: #192d9a;
        }
      }
    }

    .btn-resume {
      position: absolute;
      bottom: 15px;
      left: 0;
      margin-top: 20px;
    }
  }

  .contents-box {
    width: 50%;
    padding-left: 5%;
    box-sizing: border-box;

    ul {
      li{
        position: relative;
        padding-left: 30px;

        &:nth-child(n + 2) {
          margin-top: 30px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 6px;
          width: 14px;
          height: 14px;
          background: url("/images/icon-checkmark.png") no-repeat center;
          background-size: 100%;
        }

        strong {
          font-size: 18px;
          font-weight: 500;
          color: $black;
          line-height: 28px;
        }

        p {
          margin-top: 5px;
          font-size: 16px;
          color: #323232;
          line-height: 24px;
        }
      }
    }
  }
}

.portfoilo-wrap {
  .portfoilo-item {
    display: block;
    justify-content: space-between;
    padding: 60px 0;

    &:first-child {
      padding-top: 100px;
    }
    &:last-child {
      padding-bottom: 100px;
    }

    > div {
      position: relative;
      width: 50%;
      box-sizing: border-box;
    }

    .left-box {
      float: left;
      padding-right: 5%;
      border-right: 1px solid #ddd;
    }

    .right-box {
      float: right;
      padding-left: 5%;
    }

    .txt-box {
      .tit-area {
        .num {
          display: block;
          font-size: 32px;
          color: $pink;
          font-weight: 500;
        }

        .tit {
          display: inline-block;
          margin-top: 15px;
          font-size: 32px;
          line-height: 36px;
          font-weight: 500;
          color: $black;

          .category {
            display: block;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }

      dl {
        position: relative;
        padding-top: 30px;

        &::before {
          content: "";
          position: absolute;
          top: 15px;
          left: 0;
          width: 15px;
          height: 1px;
          background: $pink;
        }

        dt {
          font-size: 18px;
          font-weight: 500;
          color: #323232;
          line-height: 28px;

          &:nth-child(n + 2) {
            margin-top: 15px;
          }
        }

        dd {
          margin-top: 5px;
          font-size: 16px;
          color: #323232;
          line-height: 24px;
        }
      }

      .btn-process {
        margin-top: 50px;
      }
    }

    .img-box {
      .img {
        width: 100%;
        padding-top: 100%;
        background: #ddd;
        -webkit-box-shadow: 9px 5px 15px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 9px 5px 15px 1px rgba(0, 0, 0, 0.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 0 left 50%;

        &.daelim {
          background-image: url("/images/daelim.png");
        }
        &.gtec {
          background-image: url("/images/gtec.png");
        }
        &.inha {
          background-image: url("/images/inha.png");
        }
        &.kca {
          background-image: url("/images/kca.png");
          background-position-y: 8%;
        }
        &.ikea {
          background-image: url("/images/ikea.png");
        }
        &.zooCoffee {
          background-image: url("/images/zoocoffee.png");
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}

.contact-wrap {
  text-align: center;

  .tit {
    display: block;
    font-size: 28px;
    color: $black;
  }

  .mail {
    display: block;
    position: relative;
    padding: 40px 0 60px;
    font-size: 60px;
    color: $black;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      width: 15px;
      height: 1px;
      background: $blue;
      transform: translateX(-50%);
    }
  }

  .text {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: #323232;
  }
}

@media all and (max-width: 768px) {
  .about-wrap {
    display: block;

    .title-box {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ddd;
      padding: 0 0 50px;
      text-align: center;

      strong {
        font-size: 28px;
        line-height: 45px;
      }

      .btn-resume {
        position: relative;
        margin-top: 40px;
      }
    }

    .contents-box {
      width: 100%;
      padding: 50px 0 0;

      ul {
        li {
          &::before {
            top: 4px;
          }

          strong {
            font-size: 16px;
            line-height: 24px;
          }
    
          p {
            font-size: 14px;
  
            br {
              display: none;
            }
          }
        }
      }
    }
  }

  .portfoilo-wrap {
    .portfoilo-item {
      display: block;
      position: relative;
      padding: 50px 0;

      &:nth-child(2n)::before {
        content: '';
        position: absolute;
        left: -500px;
        top: 0;
        width: 2000px;
        height: 100%;
        background-color: #fafafa;
      }

      > div {
        position: relative;
        width: 100%;

        & + div {
          margin-top: 30px;
        }
      }

      .left-box {
        padding-right: 0;
        border-right: none;
      }

      .right-box {
        padding-left: 0;
      }

      .txt-box {
        .tit-area {
          .num {
            font-size: 24px;
          }
  
          .tit {
            margin-top: 10px;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -0.5px;
  
            .category {
              font-size: 14px;
            }
          }
        }
  
        dl {
          dt {
            font-size: 16px;
            line-height: 24px;
          }
  
          dd {
            font-size: 14px;
          }
        }
  
        .btn-process {
          margin-top: 30px;
        }
      }

      .img-box {
        .img {
          -webkit-box-shadow: none;
          box-shadow: none;
          border: 1px solid #f5f5f5;
        }
      }
    }
  }

  .contact-wrap {
    .tit {
      font-size: 18px;
    }

    .mail {
      font-size: 26px;
      padding: 20px 0 40px;

      &::before {
        top: 10px;
        width: 10px;
      }
    }

    .text {
      font-size: 20px;
    }
  }
}
