$black: #040404;
$blue: #455de0;


.section{
  min-height: 100vh;
}

.about-wrap {
  display: flex;
  justify-content: space-between;

  .title-box {
    position: relative;
    width: 50%;
    border-right: 1px solid #323232;
    padding: 20px 5% 0 0;

    strong {
      display: block;
      font-size: 32px;
      font-weight: 500;
      color: #323232;
      line-height: 45px;

      span {
        display: block;
        color: $blue;
      }
    }

    .btn-resume {
      position: absolute;
      bottom: 15px;
      left: 0;
      margin-top: 20px;
    }
  }

  .contents-box {
    width: 50%;
    padding-left: 5%;
    padding: 20px 0 15px 5%;
  
    dl {
      dt {
        font-size: 18px;
        font-weight: 500;
        color: #323232;
        line-height: 28px;
  
        &:nth-child(n + 2) {
          margin-top: 20px;
        }
      }
  
      dd {
        margin-top: 5px;
        font-size: 16px;
        color: #323232;
        line-height: 24px;
      }
    }
  }
}

.portfoilo-wrap {
  padding-top: 100px;
  padding-bottom: 100px;

  .portfoilo-item {
    display: flex;
    justify-content: space-between;

    &:nth-child(n+2) {
      margin-top: 100px;
    }

    >div {
      position: relative;
      width: 50%;
    }

    .left-box {
      padding-right: 5%;
      border-right: 1px solid #ddd;
    }
    
    .right-box {
      padding-left: 5%;
    }

    .txt-box {
      .tit-area {
        .num {
          display: block;
          font-size: 32px;
          color: #f2afa3;
          font-weight: 500;
        }

        .tit {
          display: inline-block;
          margin-top: 15px;
          font-size: 32px;
          line-height: 36px;
          font-weight: 500;
          color: $black;

          .category {
            display: block;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }

      dl {
        position: relative;
        padding-top: 30px;

        &::before {
          content: '';
          position: absolute;
          top: 15px;
          left: 0;
          width: 15px;
          height: 1px;
          background: #f2afa3;
        }

        dt {
          font-size: 18px;
          font-weight: 500;
          color: #323232;
          line-height: 28px;

          &:nth-child(n + 2) {
            margin-top: 15px;
          }
        }
        
        dd {
          margin-top: 5px;
          font-size: 16px;
          color: #323232;
          line-height: 24px;
        }
      }

      .btn-process {
        margin-top: 50px;
      }
    }

    .img-box {
      .img {
        width: 100%;
        padding-top: 100%;
        background: #f00;
        -webkit-box-shadow: 9px 5px 15px 1px rgba(0,0,0,0.2); 
        box-shadow: 9px 5px 15px 1px rgba(0,0,0,0.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 0 left 50%;
        &.daelim{
          background-image: url('/images/daelim.png');
        }
        &.gtec{
          background-image: url('/images/gtec.png');
        }
        &.inha{
          background-image: url('/images/inha.png');
        }
        &.kca{
          background-image: url('/images/kca.png');
        }
        &.ikea{
          background-image: url('/images/ikea.png');
        }
        &.zooCoffee{
          background-image: url('/images/zooCoffee.png');
        }
        img{
          max-width: 100%;
        }
      }
    }
  }
}

.contact-wrap {
  text-align: center;

  .tit {
    display: block;
    font-size: 28px;
    color: $black;
  }
  
  .mail {
    display: block;
    position: relative;
    padding: 40px 0 60px;
    font-size: 60px;
    color: $black;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 50%;
      width: 15px;
      height: 1px;
      background: $blue;
      transform: translateX(-50%);
    }
  }
  
  .text {
    display: block;
    font-size: 24px;
    font-weight: 300;
    color: #323232;
  }
}

