/* 
  * common.css 
    - 전체 페이제에서 종종 필요한 css를 class 로 정의하여 불러와서 사용
*/

/* 
  구글 폰트 사용 ( ie 지원 x )
  한글 - Noto Sans KR 
  영문 - Roboto
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;900&family=Roboto:wght@300;500;700;900&display=swap');

/* 기본 폰트 설정 */
body{
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* clearfix 설정 */
.float-area::after{
  display: block;
  content: '';
  clear: both;
}

/* float: left; */
.float-area::after .fl{
  float: left; 
}

/* float: right; */
.float-area::after .fr{
  float: right; 
}

/* 텍스트 숨김 처리 */
.skip{
  overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	width: 0px;
	height: 0px;
}